---
import Layout from "@layouts/Default.astro";
import BlogList from "@components/blog/BlogList.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog").then((collection) => {
	return collection.sort(
		(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
	);
});
---

<Layout
	title="Blog"
	description="Tristan Thoraval, Blog | On this page you can find a collection of my blogposts, related to web technologies and programming."
	pageTitle="Blog | Tristan Thoraval"
>
	<main id="main" class="main-grid">
		<div class="flow">
			<h2>Blog</h2>
			<p>This is where I post about my journey learning web development.</p>
			<BlogList posts={posts} />
		</div>
	</main>
</Layout>