---
import Layout from "@layouts/Default.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog").then((collection) => {
	return collection.sort(
		(a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
	);
});
---

<Layout
	title="Blog"
	description="Tristan Thoraval, Blog | On this page you can find a collection of my blogposts, related to web technologies and programming."
	pageTitle="Blog | Tristan Thoraval"
>
	<main class="p-6 lg:grid lg:grid-cols-3 flex justify-center">
		<ul class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    {
      posts.map((post) => {
        return (
          <li>
            <div class="flex justify-end my-4">
            <a href={`/blog/${post.slug}/`}>Read post &rarr;</a>
          </div>

            <div class="hidden sm:inline-block">
              <p class="poppins mt-2">tags:</p>
              <div class="flex justify-between items-center">
                <ul class="flex gap-4 mt-2">
                  {
                    post.data.tags.map((tag) => {
                      return (
                        <li>
                          <a href={`/blog/tags/${tag.toLowerCase()}/`}>
                            <p>{tag}</p>
                          </a>
                        </li>
                      );
                    })
                  }
                </ul>
                {
                  post.data.draft && (
                    <span class="bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow">
                      Draft
                    </span>
                  )
                }
              </div>
            </div>
          </li>
        );
      })
    }
    </ul>
	</main>
</Layout>