*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  line-height: 1.2;
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: unset;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  color: inherit;
  position: relative;
  text-underline-offset: 0.25rem;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary);
}

a:hover {
  color: var(--primary);
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fonts */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Newsreader';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/newsreader.ttf') format('truetype');
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1024,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.7813rem, 0.7727rem + 0.0426vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9091rem + 0.142vw, 1rem);
  --step-0: clamp(1.125rem, 1.0682rem + 0.2841vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2534rem + 0.483vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.4686rem + 0.7571vw, 1.9531rem);
  --step-3: clamp(1.9438rem, 1.7176rem + 1.1307vw, 2.4413rem);
  --step-4: clamp(2.3325rem, 2.0055rem + 1.6349vw, 3.0519rem);
  --step-5: clamp(2.7994rem, 2.3377rem + 2.3082vw, 3.815rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1024,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5341rem + 0.142vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8466rem + 0.142vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0682rem + 0.2841vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6023rem + 0.4261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1364rem + 0.5682vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2045rem + 0.8523vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2727rem + 1.1364vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4091rem + 1.7045vw, 7.5rem);

  --space-3xs-2xs: clamp(0.3125rem, 0.1705rem + 0.7102vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.392rem + 0.8523vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7045rem + 0.8523vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.7841rem + 1.7045vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.3182rem + 1.8466vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.5682rem + 3.4091vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.6364rem + 3.6932vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.1364rem + 6.8182vw, 7.5rem);

  --space-s-l: clamp(1.125rem, 0.5rem + 3.125vw, 2.5rem);
}

/* CUSTOM ROOT */
:root {
  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-display: 'Inter', var(--font-fallback);
  --font-ui: 'Inter', var(--font-fallback);
  --font-sans: 'Inter', var(--font-fallback);
  --font-mono: 'Menlo', monospace;
  --font-serif: 'Newsreader', 'Signifier', 'Times', serif;
  --type: var(--text) / var(--leading) var(--font-sans);
  --type-body: var(--type);
  --type-code: 13px/1.7 var(--font-mono);
  --type-italic: 400 italic calc(1em + 1px) / normal var(--font-serif);
  --type-heading: 500 var(--text) / var(var(--step-3)) var(--font-display);
  --type-button: 400 14px / var(--height, normal) var(--font-sans);
  --type-heading-l: 500 var(--text-l) / var(var(--step-5)-l) var(--font-display);

  --gray1: #fcfcfc;
  --gray2: #f8f8f8;
  --gray3: #f3f3f3;
  --gray4: #ededed;
  --gray5: #e8e8e8;
  --gray6: #e2e2e2;
  --gray7: #dbdbdb;
  --gray8: #c7c7c7;
  --gray9: #8f8f8f;
  --gray10: #858585;
  --gray11: #6f6f6f;
  --gray12: #171717;
  --grayA1: rgba(0, 0, 0, 0.012);
  --grayA2: rgba(0, 0, 0, 0.027);
  --grayA3: rgba(0, 0, 0, 0.047);
  --grayA4: rgba(0, 0, 0, 0.071);
  --grayA5: rgba(0, 0, 0, 0.09);
  --grayA6: rgba(0, 0, 0, 0.114);
  --grayA7: rgba(0, 0, 0, 0.141);
  --grayA8: rgba(0, 0, 0, 0.22);
  --grayA9: rgba(0, 0, 0, 0.439);
  --grayA10: rgba(0, 0, 0, 0.478);
  --grayA11: rgba(0, 0, 0, 0.565);
  --grayA12: rgba(0, 0, 0, 0.91);
  --blackA1: rgba(0, 0, 0, 0.012);
  --blackA2: rgba(0, 0, 0, 0.027);
  --blackA3: rgba(0, 0, 0, 0.047);
  --blackA4: rgba(0, 0, 0, 0.071);
  --blackA5: rgba(0, 0, 0, 0.09);
  --blackA6: rgba(0, 0, 0, 0.114);
  --blackA7: rgba(0, 0, 0, 0.141);
  --blackA8: rgba(0, 0, 0, 0.22);
  --blackA9: rgba(0, 0, 0, 0.439);
  --blackA10: rgba(0, 0, 0, 0.478);
  --blackA11: rgba(0, 0, 0, 0.565);
  --blackA12: rgba(0, 0, 0, 0.91);

  color-scheme: light;
  --white: #fff;
  --black: #000;
  --selection: var(--grayA4);
  --bg: var(--white);
  --fg: var(--gray12);
  --text-color: #3a3a3a;
  --alpha: hsla(0, 0%, 100%, 0.9);
  --shadow-color: hsla(0, 6%, 6%, 0.05);
  --mono1: var(--gray1);
  --mono2: var(--gray2);
  --mono3: var(--gray3);
  --mono4: var(--gray4);
  --mono5: var(--gray5);
  --mono6: var(--gray6);
  --mono7: var(--gray7);
  --mono8: var(--gray8);
  --mono9: var(--gray9);
  --mono10: var(--gray10);
  --mono11: var(--gray11);
  --mono12: var(--gray12);
  --primary: #5856d6;

  --page-width: 1072px;
  --content-width: 640px;

  --header-height: 48px;
  --footer-height: 48px;
  --icon-primary: var(--mono11);
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fg: #f2f2f2;
    --bg: var(--gray1);
    --text-color: #e5e5e5;
    --alpha: rgba(28, 28, 28, 0.9);
    --shadow-color: rgba(0, 0, 0, 0.55);
    --gray1: #1a1a1a;
    --gray2: #1c1c1c;
    --gray3: #232323;
    --gray4: #282828;
    --gray5: #2e2e2e;
    --gray6: #343434;
    --gray7: #3e3e3e;
    --gray8: #505050;
    --gray9: #707070;
    --gray10: #7e7e7e;
    --gray11: #a0a0a0;
    --gray12: #ededed;
    --grayA1: hsla(0, 0%, 100%, 0);
    --grayA2: hsla(0, 0%, 100%, 0.026);
    --grayA3: hsla(0, 0%, 100%, 0.056);
    --grayA4: hsla(0, 0%, 100%, 0.077);
    --grayA5: hsla(0, 0%, 100%, 0.103);
    --grayA6: hsla(0, 0%, 100%, 0.129);
    --grayA7: hsla(0, 0%, 100%, 0.172);
    --grayA8: hsla(0, 0%, 100%, 0.249);
    --grayA9: hsla(0, 0%, 100%, 0.386);
    --grayA10: hsla(0, 0%, 100%, 0.446);
    --grayA11: hsla(0, 0%, 100%, 0.592);
    --grayA12: hsla(0, 0%, 100%, 0.923);
    --primary: #5e5ce6;
  }
}

/* CUSTOM */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
::-webkit-scrollbar-thumb {
  min-height: var(--scrollbar-size-min);
  min-width: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
  border: 5px solid transparent;
  background-clip: padding-box;
}
@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--mono7);
  }
}
::-webkit-scrollbar-thumb:active {
  --scrollbar-color: var(--mono9);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}

::-moz-selection {
  background: var(--selection);
  text-shadow: none;
  text-decoration-color: var(--mono9);
}
::selection {
  background: var(--selection);
  text-shadow: none;
  -webkit-text-decoration-color: var(--mono9);
  text-decoration-color: var(--mono9);
}

body {
  min-height: 100%;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
  padding-bottom: env(safe-area-inset-bottom);
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

em,
i {
  font: var(--type-italic);
}

b,
strong {
  font-weight: bolder;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}

header > div {
  height: var(--header-height);
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}

main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  position: relative;
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--space-s-m) 0 var(--space-xl);
}
@media (max-width: 768px) {
  main {
    max-width: var(--content-width);
  }
}

footer {
  border-top: 1px solid var(--mono5);
  height: var(--footer-height);
  background: var(--bg);
}

footer > div {
  max-width: var(--page-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin: 0;
}

header nav ul {
  display: flex;
  gap: 1rem;
}

/* GRID */

.main-grid {
  display: grid;
  grid-template-columns: 192px var(--content-width) 192px;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: flex-start;
}
.main-grid > * {
  grid-column: 2;
}
@media (max-width: 1024px) {
  .main-grid {
    grid-template-columns: auto var(--content-width) auto;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 768px) {
  .main-grid {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: flex-start;
  }
}

.laside {
  position: relative;
  top: 0;
  margin: 0 0 42px;
}

.raside {
  position: relative;
  top: 0;
  margin: 0 0 42px;
}

@media (min-width: 768px) {
  .laside {
    position: sticky;
    top: var(--header-height);
    white-space: nowrap;
    grid-column: 1;
  }

  .raside {
    position: sticky;
    top: var(--header-height);
    white-space: nowrap;
    grid-column: 3;
  }
}

h1 {
  --space: var(--space-m-l);
  font-size: var(--step-3);
}

h2 {
  --space: var(--space-m);
  font-size: var(--step-1);
}

h3 {
  --space: var(--space-xs);
  font-size: var(--step-0);
}

p {
  --space: var(--space-2xs);
  font-size: var(--step-0);
}

.basic_text {
  --space: var(--space-2xs);
  font-size: var(--step-0);
  font-weight: normal;
}

section {
  --space: var(--space-l);
}

/* COMPONENTS */

.title {
  font-size: var(--type-heading);
  font-weight: bold;
  text-decoration: none;
}

.pill {
  display: inline-block;
  border: 1px solid var(--fg);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
}

.card {
  display: block;
  border-top: 0.5px solid var(--fg);
  padding: 0.5rem 0 0;
  color: var(--fg);
}

.card:hover {
  color: var(--fg);
}

.card ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs);
}

.email:before {
  content: 'thoravaltristan@gmail.com';
}

/* UTILS */

.flow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flow > * {
  margin-block: 0;
}

.flow > * + * {
  margin-block-start: var(--space, 1.5rem);
}

.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* A11Y */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}
