/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Fonts */
@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/dm-serif.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Serif Text';
  font-style: normal;
  font-display: swap;
  src: url('/fonts/dm-serif.ttf') format('truetype');
}

:root {
  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-display: 'Inter', var(--font-fallback);
  --font-ui: 'Inter', var(--font-fallback);
  --font-sans: 'Sohne', var(--font-fallback);
  --font-mono: 'Menlo', monospace;
  --font-serif: 'Newsreader', 'Signifier', 'Times', serif;
  --basics-gap: 0.5rem;
  --gap-s: 4px;
  --gap: 8px;
  --gap-2x: 16px;
  --gap-3x: 24px;
  --gap-4x: 32px;
  --gap-6x: 48px;
  --gap-8x: 64px;
  --gap-12x: 72px;
  --gap-16x: 128px;
  --type: var(--text) / var(--leading) var(--font-sans);
  --type-body: var(--type);
  --type-code: 13px/1.7 var(--font-mono);
  --type-italic: 400 italic calc(1em + 1px) / normal var(--font-serif);
  --type-s: var(--text-s) / var(--leading-s) var(--font-sans);
  --type-l: var(--text-l) / var(--leading-l) var(--font-sans);
  --type-heading: 500 var(--text) / var(--leading) var(--font-display);
  --type-button: 400 14px / var(--height, normal) var(--font-sans);
  --type-heading-l: 500 var(--text-l) / var(--leading-l) var(--font-display);
  --leading-xxl: 54px;
  --leading-xl: 40px;
  --leading-l: 32px;
  --leading: 28px;
  --leading-s: 20px;
  --leading-xs: 18px;
  --text-2xl: 30px;
  --text-xl: 24px;
  --text-l: 20px;
  --text: 16px;
  --text-s: 14px;
  --text-xs: 12px;
  --text-xxs: 10px;
  --kerning-l: -0.33px;
  --radius-xl: 14px;
  --radius-l: 10px;
  --radius: 8px;
  --radius-s: 5px;
  --radius-xs: 3px;
  --transition-instant: 0ms;
  --transition-fastest: 80ms;
  --transition-fast: 100ms;
  --transition-med: 160ms;
  --transition-xx: 240ms;
  --transition-xxl: 320ms;
  --transition-long: 480ms;
  --transition-slow: 1200ms;
  --layer-tooltip: 600;
  --layer-dialog: 500;
  --layer-popover: 400;
  --layer-toasts: 300;
  --layer-portal: 200;
  --layer-overlay: 100;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --shadow-s: 0 2px 20px 1px var(--shadow-color);
  --noise-1: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.25' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: var(--mono6);
  --transparent: transparent;
  --transparent-white: hsla(0, 0%, 100%, 0);
  --mask-vertical: linear-gradient(
    to bottom,
    var(--mask-hidden) 0px,
    var(--mask-visible) var(--mask-size),
    var(--mask-visible) calc(100% - var(--mask-size)),
    var(--mask-hidden) 100%
  );
  --mask-visible: #000;
  --mask-hidden: transparent;
  --mask-invisible: transparent;
  --border-thin: 1px;
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  --gray1: #fcfcfc;
  --gray2: #f8f8f8;
  --gray3: #f3f3f3;
  --gray4: #ededed;
  --gray5: #e8e8e8;
  --gray6: #e2e2e2;
  --gray7: #dbdbdb;
  --gray8: #c7c7c7;
  --gray9: #8f8f8f;
  --gray10: #858585;
  --gray11: #6f6f6f;
  --gray12: #171717;
  --grayA1: rgba(0, 0, 0, 0.012);
  --grayA2: rgba(0, 0, 0, 0.027);
  --grayA3: rgba(0, 0, 0, 0.047);
  --grayA4: rgba(0, 0, 0, 0.071);
  --grayA5: rgba(0, 0, 0, 0.09);
  --grayA6: rgba(0, 0, 0, 0.114);
  --grayA7: rgba(0, 0, 0, 0.141);
  --grayA8: rgba(0, 0, 0, 0.22);
  --grayA9: rgba(0, 0, 0, 0.439);
  --grayA10: rgba(0, 0, 0, 0.478);
  --grayA11: rgba(0, 0, 0, 0.565);
  --grayA12: rgba(0, 0, 0, 0.91);
  --blackA1: rgba(0, 0, 0, 0.012);
  --blackA2: rgba(0, 0, 0, 0.027);
  --blackA3: rgba(0, 0, 0, 0.047);
  --blackA4: rgba(0, 0, 0, 0.071);
  --blackA5: rgba(0, 0, 0, 0.09);
  --blackA6: rgba(0, 0, 0, 0.114);
  --blackA7: rgba(0, 0, 0, 0.141);
  --blackA8: rgba(0, 0, 0, 0.22);
  --blackA9: rgba(0, 0, 0, 0.439);
  --blackA10: rgba(0, 0, 0, 0.478);
  --blackA11: rgba(0, 0, 0, 0.565);
  --blackA12: rgba(0, 0, 0, 0.91);

  color-scheme: light;
  --white: #fff;
  --black: #000;
  --selection: var(--grayA4);
  --bg: var(--white);
  --fg: var(--gray12);
  --text-color: #3a3a3a;
  --alpha: hsla(0, 0%, 100%, 0.9);
  --shadow-color: hsla(0, 6%, 6%, 0.05);
  --mono1: var(--gray1);
  --mono2: var(--gray2);
  --mono3: var(--gray3);
  --mono4: var(--gray4);
  --mono5: var(--gray5);
  --mono6: var(--gray6);
  --mono7: var(--gray7);
  --mono8: var(--gray8);
  --mono9: var(--gray9);
  --mono10: var(--gray10);
  --mono11: var(--gray11);
  --mono12: var(--gray12);
  --indigo: #5856d6;

  --page-width: 1072px;
  --content-width: 640px;
  --page-left: auto;
  --page-top: 128px;
  --header-height: 48px;
  --footer-height: 48px;
  --icon-primary: var(--mono11);
  --icon-secondary: transparent;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
  --layer-above-sticky: 20;
  --layer-header: 10;
  --layer-sticky: 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fg: #f2f2f2;
    --bg: var(--gray1);
    --text-color: #e5e5e5;
    --alpha: rgba(28, 28, 28, 0.9);
    --shadow-color: rgba(0, 0, 0, 0.55);
    --gray1: #1a1a1a;
    --gray2: #1c1c1c;
    --gray3: #232323;
    --gray4: #282828;
    --gray5: #2e2e2e;
    --gray6: #343434;
    --gray7: #3e3e3e;
    --gray8: #505050;
    --gray9: #707070;
    --gray10: #7e7e7e;
    --gray11: #a0a0a0;
    --gray12: #ededed;
    --grayA1: hsla(0, 0%, 100%, 0);
    --grayA2: hsla(0, 0%, 100%, 0.026);
    --grayA3: hsla(0, 0%, 100%, 0.056);
    --grayA4: hsla(0, 0%, 100%, 0.077);
    --grayA5: hsla(0, 0%, 100%, 0.103);
    --grayA6: hsla(0, 0%, 100%, 0.129);
    --grayA7: hsla(0, 0%, 100%, 0.172);
    --grayA8: hsla(0, 0%, 100%, 0.249);
    --grayA9: hsla(0, 0%, 100%, 0.386);
    --grayA10: hsla(0, 0%, 100%, 0.446);
    --grayA11: hsla(0, 0%, 100%, 0.592);
    --grayA12: hsla(0, 0%, 100%, 0.923);
    --indigo: #5e5ce6;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

body,
html {
  height: 100%;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg);
}

body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

header {
  height: var(--header-height);
}

header > div {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  justify-content: space-between;
}

main {
  min-height: calc(100vh - var(--footer-height) - var(--header-height));
  position: relative;
  margin: 0 auto;
  max-width: var(--page-width);
}

footer {
  border-top: 1px solid var(--mono5);
  position: relative;
  height: var(--footer-height);
  width: calc(100% + var(--body-margin-right) + var(--body-margin-left));
  left: calc(-1 * var(--body-margin-left));
  background: var(--bg);
  z-index: var(--layer-header);
  padding: 0 var(--body-margin-left);
}

footer > div {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  justify-content: space-between;
}

nav ul {
  padding: 0;
  margin: 0;
}

header nav ul {
  display: flex;
  gap: var(--gap-2x);
}

.main-grid {
  display: grid;
  grid-template-columns: 192px var(--content-width) 192px;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: flex-start;
}

.main-grid > * {
  grid-column: 2;
}

.laside {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 0 42px;
}

.raside {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 0 42px;
}

@media (min-width: 768px) {
  .laside {
    position: sticky;
    top: var(--header-height);
    white-space: nowrap;
    grid-column: 1;
  }

  .raside {
    position: sticky;
    top: var(--header-height);
    white-space: nowrap;
    grid-column: 3;
  }
}

.prose {
  width: 100%;
  max-width: var(--content-width);
  color: var(--text-color);
}

.prose p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

[class^='stack'] > * {
  /* top and bottom margins in horizontal-tb writing mode */
  margin-block: 0;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.stack-large > * + * {
  margin-block-start: 3rem;
}

.stack-small > * + * {
  margin-block-start: 0.5rem;
}

/* COMPONENTS */

.pill {
  display: inline-block;
  border: 1px solid var(--fg);
  border-radius: 2rem;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  color: var(--fg);
}

.card {
  display: block;
  border: 1px solid var(--fg);
  border-radius: 1rem;
  padding: 1rem 2rem;
  color: var(--fg);
}

.card ul {
  padding: 0;
  display: flex;
  gap: 0.25rem;
}

/* A11Y */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .md\:hidden {
    display: none;
  }
}

@media (min-width: 768px) {
  .md\:inline-block {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
}

/* ICONS */
.arrow-left-curve {
  --icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none'%3E%3Cpath fill='%23000' d='M20.088 14.434c0-1.113-.24-2.093-.721-2.937-.481-.845-1.174-1.505-2.08-1.98-.904-.475-1.993-.713-3.265-.713H8.723l-2.83.123.267.485 2.095-1.77 2.159-2.111a.847.847 0 0 0 .27-.64.877.877 0 0 0-.246-.64c-.164-.167-.38-.251-.652-.251a.915.915 0 0 0-.667.286L4.292 9.039a.898.898 0 0 0-.292.68c0 .269.097.498.292.688l4.828 4.75c.19.19.413.285.667.285.271 0 .488-.084.652-.251a.885.885 0 0 0 .245-.645.863.863 0 0 0-.072-.36.85.85 0 0 0-.197-.274l-2.16-2.108-2.094-1.772-.266.487 2.83.12h5.35c.905 0 1.668.159 2.29.475.621.316 1.094.754 1.419 1.314.324.56.486 1.207.486 1.94 0 .727-.162 1.378-.486 1.951a3.416 3.416 0 0 1-1.42 1.352c-.621.328-1.385.492-2.29.492h-1.957a.893.893 0 0 0-.67.268.896.896 0 0 0-.26.647.904.904 0 0 0 .931.922h2.014c1.253 0 2.323-.23 3.211-.691.888-.46 1.568-1.109 2.039-1.944.47-.835.706-1.812.706-2.93Z'/%3E%3C/svg%3E");
}

.arrowUpLeft {
  --icon: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0356445 42.8086C0.0356445 43.72 0.336737 44.4769 0.938924 45.0791C1.54119 45.6813 2.26549 45.9824 3.11182 45.9824C3.92562 45.9824 4.62549 45.6731 5.21142 45.0547C5.79736 44.4362 6.09032 43.7363 6.09032 42.9551V26.5977L5.55322 9.80078L11.7055 16.7344L51.0122 55.9922C51.6307 56.6107 52.3306 56.9199 53.1118 56.9199C53.9256 56.9199 54.6499 56.6025 55.2846 55.9677C55.9194 55.333 56.2368 54.5924 56.2368 53.7461C56.2368 52.9648 55.9276 52.2812 55.3091 51.6953L16.0512 12.3887L9.16652 6.23628L27.2817 6.72458H42.272C43.0858 6.72458 43.7938 6.43974 44.396 5.87008C44.9982 5.30041 45.2993 4.60868 45.2993 3.79488C45.2993 2.98108 45.0064 2.27308 44.4204 1.67088C43.8345 1.06868 43.0858 0.767578 42.1743 0.767578H3.30712C2.33059 0.767578 1.54936 1.06868 0.963425 1.67088C0.377458 2.27308 0.0844746 3.04618 0.0844746 3.99018L0.0356445 42.8086Z' fill='black'/%3E%3C/svg%3E%0A");
}

.basics-css-icon {
  --size: 1.125em;
  height: var(--size);
  width: var(--size);
  vertical-align: text-top;
  --mask: var(--ON);
  --icon: var(--mask, var(--icon));
  display: inline-block;
  -webkit-mask: var(--mask, invalid) var(--icon);
  mask: var(--mask, invalid) var(--icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: var(--mask, invalid) currentColor;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
