body,
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}

sub,
sup {
  font-size: 60%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
svg {
  shape-rendering: auto;
  vertical-align: middle;
}
blockquote,
figure {
  margin: 0;
}
a {
  color: inherit;
}

[basics-text] {
  margin: 0;
}
[basics-text][basics-variant-weight='100'] {
  font-weight: 100;
}
[basics-text][basics-variant-weight='200'] {
  font-weight: 200;
}
[basics-text][basics-variant-weight='300'] {
  font-weight: 300;
}
[basics-text][basics-variant-weight='400'] {
  font-weight: 400;
}
[basics-text][basics-variant-weight='500'] {
  font-weight: 500;
}
[basics-text][basics-variant-weight='600'] {
  font-weight: 600;
}
[basics-text][basics-variant-weight='700'] {
  font-weight: 700;
}
[basics-text][basics-variant-weight='800'] {
  font-weight: 800;
}
[basics-text][basics-variant-weight='900'] {
  font-weight: 900;
}
[basics-text][basics-variant-align='left'] {
  text-align: left;
}
[basics-text][basics-variant-align='center'] {
  text-align: center;
}
[basics-text][basics-variant-align='right'] {
  text-align: right;
}
[basics-text][basics-variant-transform='uppercase'] {
  text-transform: uppercase;
}
[basics-text][basics-variant-transform='lowercase'] {
  text-transform: lowercase;
}
[basics-text][basics-variant-transform='capitalize'] {
  text-transform: capitalize;
}
[basics-text][basics-variant-break='break-all'] {
  word-break: break-all;
}
[basics-text][basics-variant-break='break-word'] {
  word-break: break-word;
}
[basics-text][basics-variant-clamp=''] {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
  min-width: 0;
}
[basics-text][basics-variant-clamp='_'] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--clamp-lines);
  -webkit-box-orient: vertical;
}
[basics-text][basics-variant~='tnum'] {
  font-feature-settings: 'tnum' 1;
}
[basics-stack] {
  position: relative;
  display: flex;
  flex: var(--basics-F, initial);
  min-width: 0;
  max-width: 100%;
  flex-wrap: var(--basics-W, nowrap) wrap;
  --_sma: var(--basics-S) var(--basics-SA);
  --_mda: var(--basics-M) var(--basics-MA);
  --_lga: var(--basics-L) var(--basics-LA);
  --_xla: var(--basics-XL) var(--basics-XLA);
  --_rA: var(
    --_xla,
    var(--_lga, var(--_mda, var(--_sma, var(--basics-A, stretch))))
  );
  align-items: var(--_rA);
  --_smj: var(--basics-S) var(--basics-SJ);
  --_mdj: var(--basics-M) var(--basics-MJ);
  --_lgj: var(--basics-L) var(--basics-LJ);
  --_xlj: var(--basics-XL) var(--basics-XLJ);
  --_rJ: var(
    --_xlj,
    var(--_lgj, var(--_mdj, var(--_smj, var(--basics-J, flex-start))))
  );
  justify-content: var(--_rJ);
  --_smd: var(--basics-S) var(--basics-SD);
  --_mdd: var(--basics-M) var(--basics-MD);
  --_lgd: var(--basics-L) var(--basics-LD);
  --_xld: var(--basics-XL) var(--basics-XLD);
  --_rD: var(
    --_xld,
    var(--_lgd, var(--_mdd, var(--_smd, var(--basics-D, column))))
  );
  flex-direction: var(--_rD);
  --x: var(--_xld, var(--_lgd, var(--_mdd, var(--_smd, var(--basics-D, 1)))));
  --left-margin: calc(var(--x) 1 * var(--_fG));
  --top-margin: calc(var(--x, 0) * var(--_fG));
  --_smg: var(--basics-S) var(--basics-SG);
  --_mdg: var(--basics-M) var(--basics-MG);
  --_lgg: var(--basics-L) var(--basics-LG);
  --_xlg: var(--basics-XL) var(--basics-XLG);
  --_rG: var(--_xlg, var(--_lgg, var(--_mdg, var(--_smg))));
  --_fG: calc(var(--basics-gap) * var(--_rG, var(--basics-G, 0)));
  --wrap-gap: var(--basics-W) var(--_fG);
}
[basics-stack] > * + * {
  margin-left: var(--wrap-gap, var(--left-margin)) !important;
  margin-top: var(--wrap-gap, var(--top-margin)) !important;
}
[basics-stack] > * + [basics-stack] {
  --parent-left-margin: calc(var(--basics-pD) 1 * var(--basics-pG));
  --parent-top-margin: calc(var(--basics-pD, 0) * var(--basics-pG));
  margin-left: var(--wrap-gap, var(--parent-left-margin)) !important;
  margin-top: var(--wrap-gap, var(--parent-top-margin)) !important;
}
[basics-stack] [basics-stack] {
  --basics-D: initial;
  --basics-pD: initial;
  --basics-SD: initial;
  --basics-MD: initial;
  --basics-LD: initial;
  --basics-XLD: initial;
  --basics-G: initial;
  --basics-pG: initial;
  --basics-SG: initial;
  --basics-MG: initial;
  --basics-LG: initial;
  --basics-XLG: initial;
  --basics-A: initial;
  --basics-SA: initial;
  --basics-MA: initial;
  --basics-LA: initial;
  --basics-XLA: initial;
  --basics-J: initial;
  --basics-SJ: initial;
  --basics-MJ: initial;
  --basics-LJ: initial;
  --basics-XLJ: initial;
}
[basics-stack] > :first-child {
  margin-left: var(--basics--wrap) var(--_fG);
  margin-top: var(--basics--wrap) var(--_fG);
}
[basics-spacer] {
  display: block;
  width: 1px;
  height: 1px;
  min-width: 1px;
  min-height: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}
[basics-spacer][basics-spacer] {
  margin-left: calc(var(--basics-gap) * var(--basics-x, 1) - 1px);
  margin-top: calc(var(--basics-gap) * var(--basics-y, 1) - 1px);
}
[basics-spacer][basics-variant~='inline'] {
  display: inline-block;
  margin-top: 0;
}
[basics-spacer][basics-variant~='expand'] {
  flex: 1 1;
}
[basics-spacer][basics-variant~='padding'] {
  margin: 0;
  padding-left: calc(var(--basics-gap) * var(--basics-x, 1) - 1px);
  padding-top: calc(var(--basics-gap) * var(--basics-y, 1) - 1px);
}
[basics-skeleton] {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
[basics-skeleton] > * {
  visibility: hidden;
}
[basics-list] {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
[basics-css-icon] {
  --mask: var(--ON);
  --icon: var(--mask, var(--icon));
  display: inline-block;
  -webkit-mask: var(--mask, invalid) var(--icon);
  mask: var(--mask, invalid) var(--icon);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: var(--mask, invalid) currentColor;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
:root {
  --page-width: 1072px;
  --content-width: 640px;
  --page-left: auto;
  --page-top: 128px;
  --header-height: 48px;
  --footer-height: 48px;
  --icon-primary: var(--mono11);
  --icon-secondary: transparent;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
  --layer-above-sticky: 20;
  --layer-header: 10;
  --layer-sticky: 10;
}
@media (max-width: 1024px) {
  :root {
    --page-top: 128px;
  }
}
@media (max-width: 768px) {
  :root {
    --page-top: 64px;
  }
}
html {
  scroll-padding-top: calc(var(--header-height) + var(--gap-2x));
  font-size: 16px;
}
body,
html {
  height: 100%;
  font-family: var(--font-sans);
  background: var(--bg);
  color: var(--fg);
}
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
#__next {
  min-height: 100%;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
  padding-bottom: env(safe-area-inset-bottom);
}
.main-grid {
  display: grid;
  grid-template-columns: 192px var(--content-width) 192px;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: flex-start;
}
.main-grid > * {
  grid-column: 2;
}
@media (max-width: 1024px) {
  .main-grid {
    grid-template-columns: auto var(--content-width) auto;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 768px) {
  .main-grid {
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: flex-start;
  }
}
main {
  min-height: calc(100vh - var(--footer-height));
  position: relative;
  padding: var(--page-top) 0;
  margin: 0 auto;
  max-width: var(--page-width);
}
@media (max-width: 768px) {
  main {
    max-width: var(--content-width);
  }
}

footer {
  border-top: 1px solid var(--mono5);
  position: relative;
  height: var(--footer-height);
  width: calc(100% + var(--body-margin-right) + var(--body-margin-left));
  left: calc(-1 * var(--body-margin-left));
  background: var(--bg);
  z-index: var(--layer-header);
  padding: 0 var(--body-margin-left);
}
footer > div {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
  white-space: nowrap;
}
footer > div > :first-child {
  margin-right: auto;
}

article[basics-prose] {
  position: relative;
}
.meta {
  position: sticky;
  top: var(--page-top);
  white-space: nowrap;
  grid-column: 1;
}
@media (max-width: 768px) {
  .meta {
    position: relative;
    top: 0;
    width: 100%;
    margin: 0 0 42px;
  }
}
@media (max-width: 1024px) {
  [basics-sidenote]:not(.meta) {
    margin: var(--gap-2x) 0;
    margin-left: var(--gap-2x);
    width: calc(100% - var(--gap-2x));
  }
}
.email:before {
  content: 'p@paco.me';
}
[data-animation-controller='false'] [data-animate] {
  animation: none;
}
[data-animate] {
  --stagger: 0;
  --delay: 120ms;
  --start: 0ms;
}
@media (prefers-reduced-motion: no-preference) {
  [data-animate] {
    animation: enter 0.6s both;
    animation-delay: calc(var(--stagger) * var(--delay) + var(--start));
  }
}
@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.stack {
  display: flex;
}
.stack > * + * {
  margin-left: 32px;
}
.column {
  width: 192px;
}
.column > div {
  margin-top: 12px;
}
:is(.column > div) > * + * {
  margin-top: 24px;
}
.css-sibling-example {
  border-radius: var(--radius);
  justify-content: center;
  padding: var(--gap);
}
.css-sibling-example,
.css-sibling-example .container {
  display: flex;
  aling-items: center;
}
.css-sibling-example input {
  height: 2.5rem;
  font-size: 1rem;
  border-radius: 0 var(--radius) var(--radius) 0;
  background: var(--bg);
  color: var(--fg);
  border: 1px solid var(--mono5);
  padding: 0 var(--gap-s);
  outline: none;
  transition: border-color var(--transition);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.css-sibling-example input:focus {
  border-color: var(--mono11);
}
.css-sibling-example .prefix {
  background: var(--mono3);
  border-radius: var(--radius) 0 0 var(--radius);
  padding: 0 var(--gap-s);
  height: 2.5rem;
  font-size: 1rem;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--mono5);
  border-right: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: var(--mono11);
  transition: color var(--transition);
  margin: 0;
}
.css-sibling-example .container.fixed input {
  order: 1;
}
:focus:is(.css-sibling-example .container.fixed input) + .prefix {
  color: var(--fg);
  border-color: var(--mono11);
}
.css-sibling-example .container.fixed .prefix {
  order: 0;
}
.custom-underlines-example {
  background: var(--mono1);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  font-size: 1.25rem;
  color: var(--fg);
  text-align: center;
}
.custom-underlines-example span {
  background-image: linear-gradient(var(--mono9), var(--mono9));
  background-size: 100% 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
}
.custom-underlines-example[data-example~='2'] span {
  background-position: left 1.05em;
}
.custom-underlines-example[data-example~='3'] span {
  text-shadow: 0.1em 0 var(--mono1), -0.1em 0 var(--mono1);
}
.custom-underlines-example[data-example~='4'] span {
  background-size: 100% 0.25em;
}
.custom-underlines-example[data-example~='5'] span {
  background: repeating-linear-gradient(
    to right,
    var(--mono9) 0,
    var(--mono9) 50%,
    transparent 50%,
    transparent 100%
  );
  background-repeat: repeat-x;
  background-size: 1ch 1px;
  background-position: 0 100%;
}
.custom-underlines-example[data-example~='6'] span {
  background-size: 2ch 1px;
}

@font-face {
  font-family: Inter;
  font-display: block;
  src: url(/fonts/inter-subset.woff2) format('woff2');
  font-weight: 100 900;
}
@font-face {
  font-family: Newsreader;
  font-display: block;
  src: url(/fonts/newsreader-subset-0.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
}

[basics-prose] p,
[basics-text] {
  margin: 0;
  letter-spacing: 0;
  font-size: var(--text);
  line-height: var(--leading);
  font-feature-settings: 'kern', 'frac', 'kern', 'ss02';
}
[basics-prose] :where(h1, h2, h3, h4, h5, h6, p, li),
[basics-text]:where(h1, h2, h3, h4, h5, h6, p, li) {
  font: var(--type);
}
[basics-prose] :where(b),
[basics-text] :where(b) {
  font-weight: 500;
}
[basics-heading],
[basics-prose] :where(h1, h2, h3, h4, h5, h6) {
  font: var(--type-heading);
  font-feature-settings: 'kern', 'calt', 'case';
}
[basics-prose] :where(em, i),
[basics-text] :where(em, i),
[basics-text]:where(em, i) {
  font: var(--type-italic);
  color: var(--fg);
}
[basics-text][basics-size='small'] {
  font: var(--type-s);
}
[basics-text][basics-color='dim'] {
  color: var(--mono11);
}
[basics-text][basics-color='lowcontrast'],
[basics-text][basics-color='lowcontrast'] * {
  color: var(--mono9);
}
[basics-prose] {
  width: 100%;
  max-width: var(--content-width);
  color: var(--text-color);
}
[basics-prose]::-moz-selection {
  background: var(--transparent);
}
[basics-prose]::selection {
  background: var(--transparent);
}
[basics-prose] > :first-child {
  margin-top: 0;
}
[basics-prose] > :not(:last-child),
[basics-prose] > [basics-codeblock] {
  margin-bottom: 28px;
}
[basics-prose] > :where(h1, h2, h3, h4, h5, h6) {
  margin-top: 56px;
  margin-bottom: 28px;
}
[basics-prose] > :where([basics-scroller]) {
  margin-top: 64px;
}
[basics-prose] > :where([basics-separator]) {
  margin: var(--gap-4x) 0;
}
[basics-prose][basics-variant~='dropcaps'] > p:first-of-type:first-letter {
  float: left;
  font-family: var(--font-serif);
  font-style: italic;
  font-size: 4rem;
  line-height: 0.8;
  margin: 0 0.1em -0.3em 0;
  padding: 0.2em 0.1em 0.1em;
}
[basics-prose] blockquote {
  color: var(--mono11);
  position: relative;
  quotes: '“' '”' '‘' '’';
  --quote-offset: 2px;
}
[basics-prose] blockquote:before {
  content: open-quote;
  position: absolute;
  left: calc(-1 * var(--quote-offset));
  transform: translateX(-100%);
  line-height: var(--leading);
  font-size: var(--text);
}
[basics-prose] blockquote :last-child:after {
  content: close-quote;
  margin-left: var(--quote-offset);
}
[basics-prose] blockquote * {
  color: var(--mono11);
}
[basics-prose] [basics-figure] {
  margin: var(--gap-8x) 0;
}
[basics-prose] ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
}
[basics-prose] li > ul {
  list-style-type: circle;
}
[basics-prose] ol {
  --counter-space: 12px;
  counter-reset: basics-ol;
  list-style-type: none;
  padding: 0;
}
[basics-prose] ol:last-child li {
  font-size: var(--text-s);
  line-height: var(--leading-s);
}
[basics-prose] li {
  display: list-item;
  line-height: var(--leading);
}
[basics-prose] li::marker {
  color: var(--mono11);
}
[basics-prose] li + li,
[basics-prose] li > ul {
  margin-top: var(--gap);
}
[basics-prose] ol li {
  --l: calc(var(--counter-space) + var(--gap-2x));
  text-indent: calc(-1 * var(--l));
  padding-left: var(--l);
}
[basics-prose] ol li:before {
  counter-increment: basics-ol;
  content: counter(basics-ol);
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  min-width: var(--counter-space);
  margin-right: var(--gap-2x);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: var(--mono11);
  font-feature-settings: 'tnum' 1;
  letter-spacing: -0.05em;
  line-height: normal;
}
:where([basics-sidenote]) {
  --side: 12px;
  --page-margin: calc((100vw - var(--content-width)) / 2);
  position: absolute;
  left: calc(var(--content-width) + var(--side));
  width: calc(var(--page-margin) - var(--side) - 48px);
  max-width: 192px;
}
[basics-prose] [basics-sidenote] {
  margin-top: 3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--mono9);
}
:where([basics-sidenote][basics-variant~='left']) {
  left: unset;
  right: calc(var(--content-width) + var(--side));
}
@media (max-width: 1024px) {
  :where([basics-sidenote]) {
    position: static;
    width: unset;
    left: unset;
    right: unset;
    max-width: unset;
  }
}
html[data-focus='blur'] {
  cursor: crosshair;
}
html[data-focus='blur']
  [basics-prose]
  :where(p, pre, li, img, div, blockquote) {
  transition: var(--transition-xx);
  transition-property: opacity, filter;
}
html[data-focus='blur']
  [basics-prose]
  :where(p, pre, li, img, div, blockquote) {
  opacity: 0.6;
  filter: blur(2px) !important;
}
@media (hover: hover) {
  html[data-focus='blur']
    [basics-prose]
    :where(p, pre, li, img, div, blockquote):hover {
    opacity: 1;
    filter: none !important;
  }
}
:root {
  --gray1: #fcfcfc;
  --gray2: #f8f8f8;
  --gray3: #f3f3f3;
  --gray4: #ededed;
  --gray5: #e8e8e8;
  --gray6: #e2e2e2;
  --gray7: #dbdbdb;
  --gray8: #c7c7c7;
  --gray9: #8f8f8f;
  --gray10: #858585;
  --gray11: #6f6f6f;
  --gray12: #171717;
  --grayA1: rgba(0, 0, 0, 0.012);
  --grayA2: rgba(0, 0, 0, 0.027);
  --grayA3: rgba(0, 0, 0, 0.047);
  --grayA4: rgba(0, 0, 0, 0.071);
  --grayA5: rgba(0, 0, 0, 0.09);
  --grayA6: rgba(0, 0, 0, 0.114);
  --grayA7: rgba(0, 0, 0, 0.141);
  --grayA8: rgba(0, 0, 0, 0.22);
  --grayA9: rgba(0, 0, 0, 0.439);
  --grayA10: rgba(0, 0, 0, 0.478);
  --grayA11: rgba(0, 0, 0, 0.565);
  --grayA12: rgba(0, 0, 0, 0.91);
  --blackA1: rgba(0, 0, 0, 0.012);
  --blackA2: rgba(0, 0, 0, 0.027);
  --blackA3: rgba(0, 0, 0, 0.047);
  --blackA4: rgba(0, 0, 0, 0.071);
  --blackA5: rgba(0, 0, 0, 0.09);
  --blackA6: rgba(0, 0, 0, 0.114);
  --blackA7: rgba(0, 0, 0, 0.141);
  --blackA8: rgba(0, 0, 0, 0.22);
  --blackA9: rgba(0, 0, 0, 0.439);
  --blackA10: rgba(0, 0, 0, 0.478);
  --blackA11: rgba(0, 0, 0, 0.565);
  --blackA12: rgba(0, 0, 0, 0.91);
  color-scheme: light;
  --white: #fff;
  --black: #000;
  --selection: var(--grayA4);
  --bg: var(--white);
  --fg: var(--gray12);
  --text-color: #3a3a3a;
  --alpha: hsla(0, 0%, 100%, 0.9);
  --shadow-color: hsla(0, 6%, 6%, 0.05);
  --mono1: var(--gray1);
  --mono2: var(--gray2);
  --mono3: var(--gray3);
  --mono4: var(--gray4);
  --mono5: var(--gray5);
  --mono6: var(--gray6);
  --mono7: var(--gray7);
  --mono8: var(--gray8);
  --mono9: var(--gray9);
  --mono10: var(--gray10);
  --mono11: var(--gray11);
  --mono12: var(--gray12);
  --indigo: #5856d6;
}
@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --fg: #f2f2f2;
    --bg: var(--gray1);
    --text-color: #e5e5e5;
    --alpha: rgba(28, 28, 28, 0.9);
    --shadow-color: rgba(0, 0, 0, 0.55);
    --gray1: #1a1a1a;
    --gray2: #1c1c1c;
    --gray3: #232323;
    --gray4: #282828;
    --gray5: #2e2e2e;
    --gray6: #343434;
    --gray7: #3e3e3e;
    --gray8: #505050;
    --gray9: #707070;
    --gray10: #7e7e7e;
    --gray11: #a0a0a0;
    --gray12: #ededed;
    --grayA1: hsla(0, 0%, 100%, 0);
    --grayA2: hsla(0, 0%, 100%, 0.026);
    --grayA3: hsla(0, 0%, 100%, 0.056);
    --grayA4: hsla(0, 0%, 100%, 0.077);
    --grayA5: hsla(0, 0%, 100%, 0.103);
    --grayA6: hsla(0, 0%, 100%, 0.129);
    --grayA7: hsla(0, 0%, 100%, 0.172);
    --grayA8: hsla(0, 0%, 100%, 0.249);
    --grayA9: hsla(0, 0%, 100%, 0.386);
    --grayA10: hsla(0, 0%, 100%, 0.446);
    --grayA11: hsla(0, 0%, 100%, 0.592);
    --grayA12: hsla(0, 0%, 100%, 0.923);
    --indigo: #5e5ce6;
  }
}
@keyframes opacityIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacityOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
[basics-codeblock] :where(.tok-comment) {
  color: var(--mono9);
}
[basics-codeblock]
  :where(.delimiter, .boolean, .selector, .important, .atrule) {
  color: var(--mono10);
}
[basics-codeblock] :where(.tok-keyword) {
  color: var(--mono10);
}
[basics-codeblock] :where(.tag, .doctype, .builtin) {
  color: var(--mono12);
}
[basics-codeblock] :where(.tok-operator, .tok-punctuation, .attr-name) {
  color: var(--mono9);
}
[basics-codeblock] :where(.entity, .number, .symbol) {
  color: var(--mono10);
}
[basics-codeblock] :where(.property, .constant, .property-access) {
  color: var(--mono11);
}
[basics-codeblock] :where(.tok-string, .tok-number) {
  color: var(--mono11);
}
[basics-codeblock] :where() {
  color: var(--mono12);
}
[basics-code],
[basics-prose] code:not(pre code) {
  color: var(--mono12);
  background: var(--mono4);
  border-radius: 6px;
  font: var(--type-code);
  padding: 4px;
}
[basics-link] [basics-code],
[basics-prose] a code {
  text-decoration: underline;
  -webkit-text-decoration-color: var(--mono8);
  text-decoration-color: var(--mono8);
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}
[basics-codeblock],
[basics-prose] pre {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-size: 13px;
  background: var(--mono3);
  border-radius: var(--radius);
  padding: 12px 16px;
  font-family: var(--font-mono);
  line-height: 24px;
  position: relative;
  margin: 0;
  overflow-x: auto;
}
[basics-codeblock] code,
[basics-prose] pre code {
  font-family: var(--font-mono);
}
[basics-codeblock][basics-variant~='lines'] {
  padding-left: 0;
}
[basics-codeblock][basics-variant~='lines'] > [basics-codeblock-line]:before {
  display: inline-block;
  width: 3ch;
  content: attr(basics-codeblock-line);
  text-align: right;
  margin-right: 3ch;
  color: var(--mono9);
}
[basics-codeblock-copy][basics-button] {
  cursor: copy;
  position: absolute;
  top: 8px;
  right: 8px;
  --hover-border: var(--mono7);
  --hover-background: var(--mono7);
  --active-border: var(--mono7);
  --active-background: var(--mono7);
}
[basics-codeblock-line][basics-highlight] {
  background: var(--mono7);
  margin-right: -16px;
}
[basics-link] {
  cursor: pointer;
  line-height: normal;
  text-decoration: none;
  outline-offset: 2px;
}
[basics-link][data-disabled][disabled] {
  cursor: not-allowed;
  color: var(--mono8);
}
[basics-link][basics-variant~='heading'] {
  border: none;
}
[basics-link][basics-variant~='heading']:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 16px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='%23838383' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M8.51194 3.00541C9.18829 2.54594 10.0435 2.53694 10.6788 2.95419C10.8231 3.04893 10.9771 3.1993 11.389 3.61119C11.8009 4.02307 11.9513 4.17714 12.046 4.32141C12.4633 4.95675 12.4543 5.81192 11.9948 6.48827C11.8899 6.64264 11.7276 6.80811 11.3006 7.23511L10.6819 7.85383C10.4867 8.04909 10.4867 8.36567 10.6819 8.56093C10.8772 8.7562 11.1938 8.7562 11.389 8.56093L12.0077 7.94221L12.0507 7.89929C12.4203 7.52976 12.6568 7.2933 12.822 7.0502C13.4972 6.05623 13.5321 4.76252 12.8819 3.77248C12.7233 3.53102 12.4922 3.30001 12.1408 2.94871L12.0961 2.90408L12.0515 2.85942C11.7002 2.508 11.4692 2.27689 11.2277 2.11832C10.2377 1.46813 8.94398 1.50299 7.95001 2.17822C7.70691 2.34336 7.47044 2.57991 7.1009 2.94955L7.058 2.99247L6.43928 3.61119C6.24401 3.80645 6.24401 4.12303 6.43928 4.31829C6.63454 4.51355 6.95112 4.51355 7.14638 4.31829L7.7651 3.69957C8.1921 3.27257 8.35757 3.11027 8.51194 3.00541ZM4.31796 7.14672C4.51322 6.95146 4.51322 6.63487 4.31796 6.43961C4.12269 6.24435 3.80611 6.24435 3.61085 6.43961L2.99213 7.05833L2.94922 7.10124C2.57957 7.47077 2.34303 7.70724 2.17788 7.95035C1.50265 8.94432 1.4678 10.238 2.11799 11.2281C2.27656 11.4695 2.50766 11.7005 2.8591 12.0518L2.90374 12.0965L2.94837 12.1411C3.29967 12.4925 3.53068 12.7237 3.77214 12.8822C4.76219 13.5324 6.05589 13.4976 7.04986 12.8223C7.29296 12.6572 7.52943 12.4206 7.89896 12.051L7.89897 12.051L7.94188 12.0081L8.5606 11.3894C8.75586 11.1941 8.75586 10.8775 8.5606 10.6823C8.36533 10.487 8.04875 10.487 7.85349 10.6823L7.23477 11.301C6.80777 11.728 6.6423 11.8903 6.48794 11.9951C5.81158 12.4546 4.95642 12.4636 4.32107 12.0464C4.17681 11.9516 4.02274 11.8012 3.61085 11.3894C3.19896 10.9775 3.0486 10.8234 2.95385 10.6791C2.53661 10.0438 2.54561 9.18863 3.00507 8.51227C3.10993 8.35791 3.27224 8.19244 3.69924 7.76544L4.31796 7.14672ZM9.62172 6.08558C9.81698 5.89032 9.81698 5.57373 9.62172 5.37847C9.42646 5.18321 9.10988 5.18321 8.91461 5.37847L5.37908 8.91401C5.18382 9.10927 5.18382 9.42585 5.37908 9.62111C5.57434 9.81637 5.89092 9.81637 6.08619 9.62111L9.62172 6.08558Z' fill-rule='evenodd' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
  opacity: 0;
  margin-left: var(--gap);
  transition: var(--transition-med);
  transition-property: opacity;
}
[basics-link][basics-variant~='heading'][data-focus]:not([disabled]):after {
  opacity: 1;
}
@media (hover: hover) {
  [basics-link][basics-variant~='heading']:not([disabled]):hover:after {
    opacity: 1;
  }
}
[basics-link][basics-variant~='text'],
[basics-prose] :where(p, li) a {
  position: relative;
  transition: var(--transition-xx);
  transition-property: -webkit-text-decoration-color;
  transition-property: text-decoration-color;
  transition-property: text-decoration-color, -webkit-text-decoration-color;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--mono8);
  text-decoration-color: var(--mono8);
  text-decoration-thickness: 1px;
  text-underline-offset: 2.5px;
}
@media (hover: hover) {
  :is([basics-prose]
      :where(p, li)
      a, [basics-link][basics-variant~='text']):hover:not([disabled]) {
    transition: var(--transition-fast);
    -webkit-text-decoration-color: var(--mono11);
    text-decoration-color: var(--mono11);
  }
}
[basics-link][basics-variant~='icon'][href^='http']:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-left: 2px;
  transform: translateY(-1px);
  --icon: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.6928 18.3072C5.30227 17.9167 5.30227 17.2835 5.69279 16.893L15.9857 6.6001L9.5999 6.6001C9.04762 6.6001 8.5999 6.15238 8.5999 5.6001C8.5999 5.04781 9.04762 4.6001 9.59991 4.6001L18.3999 4.6001C18.6651 4.6001 18.9195 4.70545 19.107 4.89299C19.2945 5.08053 19.3999 5.33488 19.3999 5.6001L19.3999 14.4001C19.3999 14.9524 18.9522 15.4001 18.3999 15.4001C17.8476 15.4001 17.3999 14.9524 17.3999 14.4001L17.3999 8.01432L7.10701 18.3072C6.71649 18.6977 6.08332 18.6977 5.6928 18.3072Z' fill='currentColor'/%3E%3C/svg%3E%0A");
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  background-color: var(--mono9);
}
[basics-separator] {
  background: var(--mono5);
  border: none;
  margin: 0;
}
[basics-separator][aria-orientation='horizontal'] {
  height: 1px;
}
[basics-separator][aria-orientation='vertical'] {
  width: 1px;
  height: 100%;
}
[basics-figure] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}
[basics-figure] img,
[basics-image] {
  font-size: 0;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  filter: drop-shadow(0 25px 20px rgba(0, 0, 0, 0.1));
}
[basics-image][basics-variant~='avatar'],
[basics-image][basics-variant~='avatar'] img {
  border-radius: 50%;
}
[basics-caption],
[basics-figure] figpcation {
  font-size: var(--text-s);
  line-height: var(--leading-s);
  color: var(--mono11);
  margin-top: var(--gap-2x);
}
[basics-scroller] {
  --scrollbar-padding: 40px;
  --scrollbar-size: 6px;
  --gradient-size-start: var(--body-margin-left);
  --gradient-size-end: 0px;
  position: relative;
  left: 50%;
  margin-left: -50vw;
  width: 100vw;
  display: flex;
  overflow-x: auto;
  padding-bottom: var(--scrollbar-padding);
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 var(--gradient-size-start),
    #000 calc(100% - var(--gradient-size-end)),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0,
    #000 var(--gradient-size-start),
    #000 calc(100% - var(--gradient-size-end)),
    transparent 100%
  );
}
[basics-scroller]:before {
  content: '';
  min-width: calc((100vw - var(--content-width)) / 2 - var(--body-margin-left));
}
[basics-scroller]:after {
  content: '';
  min-width: max(
    24px,
    calc((100vw - var(--content-width)) / 2 - var(--body-margin-right))
  );
}
@media (max-width: 688px) {
  [basics-scroller] {
    --gradient-size-start: 24px;
    --gradient-size-end: 20%;
  }
}
[basics-tooltip] {
  border: 1px solid var(--mono6);
  background: var(--bg);
  border-radius: 6px;
  padding: 5px 10px;
  box-shadow: var(--shadow-s);
  font: var(--type-s);
  font-feature-settings: 'tnum';
  font-variant-numeric: tabular-nums;
}
[basics-tooltip] [basics-arrow] {
  fill: var(--mono2);
}
[basics-tooltip] {
  animation: tooltipIn var(--transition-fast) forwards;
}
[basics-tooltip][data-state='closed'] {
  animation: tooltipOut var(--transition-fast) forwards;
}
@keyframes tooltipIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes tooltipOut {
  0% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: scale(0.9);
  }
}
[cmdk-root] {
  min-width: 640px;
  border-radius: var(--radius);
  overflow: hidden;
  border: 1px solid var(--mono5);
}
[cmdk-input],
[cmdk-root] {
  background: var(--bg);
  font-family: var(--font-sans);
}
[cmdk-input] {
  border: none;
  width: 100%;
  font-size: var(--text);
  height: 48px;
  padding: 0 var(--gap-2x);
  outline: none;
  color: var(--fg);
  border-bottom: 1px solid var(--mono5);
}
[cmdk-input]::-moz-placeholder {
  color: var(--mono9);
}
[cmdk-input]::placeholder {
  color: var(--mono9);
}
[cmdk-item] {
  content-visibility: auto;
  cursor: pointer;
  height: 36px;
  margin: 0 var(--gap);
  border-radius: var(--radius-s);
  display: flex;
  align-items: center;
  padding: 0 var(--gap-2x);
  color: var(--mono11);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  will-change: background, color;
  transition: var(--transition-fast);
  transition-property: none;
}
[cmdk-item][aria-selected='true'] {
  background: var(--mono3);
  color: var(--mono12);
}
[cmdk-item][aria-disabled='true'] {
  color: var(--mono8);
  cursor: not-allowed;
}
[cmdk-item]:active {
  transition-property: background;
  background: var(--mono4);
}
[cmdk-item]:first-child {
  margin-top: 8px;
}
[cmdk-item]:last-child {
  margin-bottom: 8px;
}
[cmdk-item] + [cmdk-item] {
  margin-top: 4px;
}
[cmdk-list] {
  padding-bottom: var(--gap);
  height: min(300px, calc(var(--cmdk-list-height) + 16px));
  max-height: 400px;
  overflow: auto;
  overscroll-behavior: contain;
  scroll-padding-block-start: 32px;
  scroll-padding-block-end: 8px;
  transition: var(--transition-fast);
  transition-property: height;
}
[cmdk-separator] {
  height: 1px;
  width: 100%;
  background: var(--mono5);
  margin: var(--gap) 0;
}
[cmdk-group-heading] {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: var(--text-s);
  color: var(--mono11);
  padding-left: var(--gap-2x);
  background: var(--mono4);
  height: 24px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
[cmdk-overlay] {
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
  z-index: var(--layer-overlay);
  animation: opacityIn var(--transition-fast) forwards;
}
[cmdk-overlay][data-state='closed'] {
  animation: opacityOut var(--transition-fast) forwards;
}
[cmdk-dialog] {
  z-index: var(--layer-portal);
  position: fixed;
  left: 50%;
  top: var(--page-top);
  transform: translateX(-50%);
  [cmdk] {
    width: 640px;
    transform-origin: center center;
    animation: dialogIn var(--transition-fast) forwards;
  }
}
[cmdk-dialog][data-state='closed'] [cmdk] {
  animation: dialogOut var(--transition-fast) forwards;
}
[cmdk-empty] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  white-space: pre-wrap;
}
[basics-dialog-positioner] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100vw;
  max-height: calc(100 * var(--vvh, 1vh));
  pointer-events: none !important;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: var(--layer-dialog);
  isolation: isolate;
  --top: calc(env(safe-area-inset-top, 0px) + 16px);
  --bottom: calc(env(safe-area-inset-bottom, 0px) + 16px);
  padding: var(--top) var(--body-margin-right) var(--bottom)
    var(--body-margin-left);
}
[basics-dialog-positioner][data-state='open'] {
  animation: nothing var(--transition-med) forwards;
}
[basics-dialog-positioner][data-state='closed'] {
  animation: opacityOut var(--transition-med) forwards;
}
[basics-dialog-positioner][data-state='open'] [basics-dialog] {
  animation: dialogIn var(--transition-med) forwards;
}
[basics-dialog-positioner][data-state='closed'] [basics-dialog] {
  animation: dialogOut var(--transition-med) forwards;
}
[basics-dialog] {
  pointer-events: all;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: var(--layer-dialog);
  background: var(--bg);
  border: 1px solid var(--mono6);
  border-radius: 12px;
  outline: none;
}
[basics-dialog-header] {
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 32px;
  height: 48px;
  background: var(--mono3);
  font: var(--type-heading);
  border-bottom: 1px solid var(--mono5);
}
[basics-dialog-body] {
  font: var(--type);
  overflow: auto;
  padding: 32px;
}
[basics-dialog-overlay] {
  position: fixed;
  inset: 0;
  background: var(--blackA8);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: var(--layer-overlay);
}
[basics-dialog-overlay][data-state='open'] {
  animation: opacityIn var(--transition-fast) forwards;
}
[basics-dialog-overlay][data-state='closed'] {
  animation: opacityOut var(--transition-fast) forwards;
}
@keyframes dialogIn {
  0% {
    opacity: 0.6;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes dialogOut {
  0% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}
[basics-button] {
  --padding: 0 10px;
  --height: 32px;
  --fontSize: 14px;
  background: var(--background);
  outline: none;
  border-radius: 6px;
  border: 1px solid var(--border);
  height: var(--height);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: var(--font-ui);
  color: var(--color);
  font-size: var(--fontSize);
  line-height: var(--height);
  font-weight: 500;
  text-decoration: none;
  transition: var(--transition-fast);
  transition-property: color, border-color, background;
}
[basics-button]:not([basics-variant]) {
  --border: var(--mono6);
  --color: var(--mono11);
  --background: var(--bg);
  --hover-border: var(--border);
  --hover-background: var(--mono4);
  --hover-color: var(--color);
  --active-background: var(--mono5);
  --active-color: var(--mono12);
  --active-border: var(--mono7);
}
[basics-button][basics-variant~='ghost'] {
  --border: transparent;
  --color: var(--mono11);
  --hover-background: var(--mono4);
  --active-background: var(--mono5);
  --active-color: var(--mono12);
  --active-border: var(--active-background);
}
[basics-button][basics-variant-size='small'] {
  --height: 28px;
  --fontSize: 13px;
}
[basics-button][basics-variant-size='large'] {
  --height: 40px;
  --fontSize: 16px;
}
[basics-button] [basics-icon] {
  width: 1.25rem;
  height: 1.25rem;
}
[basics-button] [basics-button-label] + [basics-icon],
[basics-button] [basics-icon] + [basics-button-label] {
  margin-left: var(--gap);
}
@media (hover: hover) {
  [basics-button]:not([data-disabled]):hover {
    background: var(--hover-background, var(--background));
    border-color: var(--hover-border, var(--border));
    color: var(--hover-color, var(--color));
  }
}
[basics-button]:not([data-disabled]):active {
  background: var(--active-background, var(--background));
  border-color: var(--active-border, var(--border));
  color: var(--active-color, var(--color));
}
[basics-button][data-disabled] {
  cursor: not-allowed;
  color: var(--mono8);
}
[basics-button][data-state='focus'] {
  box-shadow: var(--shadow-focus);
}
[basics-button][basics-variant~='circle'] {
  padding: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
[basics-textarea-wrapper] {
  --iconSize: 1em;
  position: relative;
  display: inline-flex;
  align-items: center;
  color: var(--mono11);
}
[basics-textarea] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  font-family: var(--font-ui);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid var(--mono5);
  padding: 8px 12px;
  margin: 0;
  background: none;
  outline: none;
  color: var(--mono12);
  scroll-padding-block: 8px;
  caret-color: var(--mono12);
  resize: none;
  transition: var(--transition-fast);
  transition-property: color, border-color, background;
}
@supports (-webkit-touch-callout: none) {
  [basics-textarea] {
    font-size: 16px;
  }
}
[basics-textarea]:not([disabled]):focus {
  background: var(--mono3);
  border-color: var(--mono6);
}
@media (hover: hover) {
  [basics-textarea]:not([disabled]):hover {
    background: var(--mono3);
    border-color: var(--mono6);
  }
}
[basics-textarea]::-moz-placeholder {
  color: var(--mono9);
}
[basics-textarea]::placeholder {
  color: var(--mono9);
}
[basics-textarea][disabled] {
  cursor: not-allowed;
  color: var(--mono8);
}
[basics-textarea][data-focus] {
  box-shadow: var(--shadow-focus);
}
[basics-textarea][disabled]::-moz-placeholder {
  color: var(--mono8);
}
[basics-textarea][disabled]::placeholder {
  color: var(--mono8);
}
[basics-checkbox] {
  all: unset;
  background: var(--mono4);
  background: none;
  border: 1px solid var(--mono5);
  width: 20px;
  height: 20px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-fast);
  transition-property: background, border-color;
}
@media (hover: hover) {
  [basics-checkbox]:hover {
    background-color: var(--violet3);
  }
}
[basics-checkbox]:focus {
  box-shadow: 0 0 0 2px var(--bg), 0 0 0 4px var(--mono7);
}
[basics-checkbox][data-state='checked'] {
  background: var(--mono3);
  border-color: var(--mono6);
}
[basics-checkbox-indicator] {
  display: flex;
  color: var(--violet11);
  transition: var(--transition-fast);
  transition-property: opacity, transform;
}
[basics-checkbox-indicator][data-state='unchecked'] {
  opacity: 0;
  transform: scale(0.98);
}
[basics-checkbox-indicator][data-state='checked'] {
  opacity: 1;
}
[basics-checkbox-label] {
  padding-left: 12px;
  line-height: 1;
  color: var(--mono9);
  transition: var(--transition-fast);
  transition-property: color;
}
[basics-checkbox][data-state='checked'] ~ [basics-checkbox-label] {
  color: var(--mono12);
}
[basics-sup] {
  color: var(--indigo);
  font-weight: 500;
  font-family: var(--font-ui);
}
:root {
  --font-fallback: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-display: 'Inter', var(--font-fallback);
  --font-ui: 'Inter', var(--font-fallback);
  --font-sans: 'Sohne', var(--font-fallback);
  --font-mono: 'Menlo', monospace;
  --font-serif: 'Newsreader', 'Signifier', 'Times', serif;
  --basics-gap: 0.5rem;
  --gap-s: 4px;
  --gap: 8px;
  --gap-2x: 16px;
  --gap-3x: 24px;
  --gap-4x: 32px;
  --gap-6x: 48px;
  --gap-8x: 64px;
  --gap-12x: 72px;
  --gap-16x: 128px;
  --type: var(--text) / var(--leading) var(--font-sans);
  --type-body: var(--type);
  --type-code: 13px/1.7 var(--font-mono);
  --type-italic: 400 italic calc(1em + 1px) / normal var(--font-serif);
  --type-s: var(--text-s) / var(--leading-s) var(--font-sans);
  --type-l: var(--text-l) / var(--leading-l) var(--font-sans);
  --type-heading: 500 var(--text) / var(--leading) var(--font-display);
  --type-button: 400 14px / var(--height, normal) var(--font-sans);
  --type-heading-l: 500 var(--text-l) / var(--leading-l) var(--font-display);
  --leading-xxl: 54px;
  --leading-xl: 40px;
  --leading-l: 32px;
  --leading: 28px;
  --leading-s: 20px;
  --leading-xs: 18px;
  --text-2xl: 30px;
  --text-xl: 24px;
  --text-l: 20px;
  --text: 16px;
  --text-s: 14px;
  --text-xs: 12px;
  --text-xxs: 10px;
  --kerning-l: -0.33px;
  --radius-xl: 14px;
  --radius-l: 10px;
  --radius: 8px;
  --radius-s: 5px;
  --radius-xs: 3px;
  --transition-instant: 0ms;
  --transition-fastest: 80ms;
  --transition-fast: 100ms;
  --transition-med: 160ms;
  --transition-xx: 240ms;
  --transition-xxl: 320ms;
  --transition-long: 480ms;
  --transition-slow: 1200ms;
  --layer-tooltip: 600;
  --layer-dialog: 500;
  --layer-popover: 400;
  --layer-toasts: 300;
  --layer-portal: 200;
  --layer-overlay: 100;
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --shadow-s: 0 2px 20px 1px var(--shadow-color);
  --noise-1: url("data:image/svg+xml,%3Csvg viewBox='0 0 1024 1024' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.25' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: var(--mono6);
  --transparent: transparent;
  --transparent-white: hsla(0, 0%, 100%, 0);
  --mask-vertical: linear-gradient(
    to bottom,
    var(--mask-hidden) 0px,
    var(--mask-visible) var(--mask-size),
    var(--mask-visible) calc(100% - var(--mask-size)),
    var(--mask-hidden) 100%
  );
  --mask-visible: #000;
  --mask-hidden: transparent;
  --mask-invisible: transparent;
  --border-thin: 1px;
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  :root {
    --border-thin: 0.5px;
  }
}
::-moz-selection {
  background: var(--selection);
  text-shadow: none;
  text-decoration-color: var(--mono9);
}
::selection {
  background: var(--selection);
  text-shadow: none;
  -webkit-text-decoration-color: var(--mono9);
  text-decoration-color: var(--mono9);
}
[data-focus] {
  --focus-color: var(--mono7);
  --shadow-focus: 0 0 0 2px var(--bg), 0 0 0 4px var(--focus-color);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--mono5) transparent;
}
::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
::-webkit-scrollbar-thumb {
  min-height: var(--scrollbar-size-min);
  min-width: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
  border: 5px solid transparent;
  background-clip: padding-box;
}
@media (hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    --scrollbar-color: var(--mono7);
  }
}
::-webkit-scrollbar-thumb:active {
  --scrollbar-color: var(--mono9);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  display: none;
}
::-webkit-resizer {
  display: none;
}
[data-scrollbar='hide'] {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
[data-scrollbar='hide']::-webkit-scrollbar {
  display: none;
}
.tabs {
  --height: 32px;
  position: relative;
  display: inline-flex;
}
.tabs,
.tabs .tab {
  align-items: center;
}
.tabs .tab {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  font-family: var(--font-sans);
  cursor: pointer;
  height: var(--height);
  line-height: var(--height);
  padding: 0 16px;
  display: flex;
}
.tabs .indicator {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  mix-blend-mode: exclusion;
  -webkit-clip-path: inset(0 calc(100% - 51px) 0 0 round var(--height));
  clip-path: inset(0 calc(100% - 51px) 0 0 round var(--height));
  z-index: 0;
  transition: -webkit-clip-path 0.3s ease;
  transition: clip-path 0.3s ease;
  transition: clip-path 0.3s ease, -webkit-clip-path 0.3s ease;
}
.codeblock {
  border: 1px solid var(--mono3);
  border-radius: var(--radius);
  overflow: hidden;
  padding: var(--padding) 0;
  position: relative;
  background: var(--bg);
  width: 60%;
  margin: 0 auto;
  --padding: 4px;
  --gradient-start: 39px;
  --gradient-size: 24px;
  --line-number-width: 32px;
  --line-height: 22px;
}
.codeblock [craft-codeblock-highlights] {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.codeblock [craft-codeblock-highlights] div {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--line-height);
  background: var(--mono3);
  top: calc((var(--line-index, 0) - 1) * var(--line-height) + var(--padding));
}
.codeblock [craft-codeblock-line-numbers] {
  position: absolute;
  left: 0;
  top: var(--padding);
  background: var(--bg);
  z-index: 1;
}
.codeblock [craft-codeblock-line-numbers] div {
  text-align: right;
  font-size: 13px;
  line-height: var(--line-height);
  height: var(--line-height);
  width: 40px;
  padding-right: 8px;
  color: var(--mono11);
}
.codeblock [craft-codeblock-line-numbers] div[data-highlight] {
  background: var(--mono3);
}
.codeblock [craft-codeblock-lines] {
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: block;
  font-family: var(--font-mono);
  color: var(--mono12);
  font-size: 13px;
  line-height: var(--line-height);
  margin-left: 32px;
  padding-left: 16px;
  background: var(--bg);
  display: flex;
}
.codeblock [craft-codeblock-lines] > span {
  display: block;
  position: sticky;
  left: -8px;
  min-width: 24px;
  --direction: to right;
  background: linear-gradient(var(--direction), var(--bg), transparent);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  -webkit-mask-image: linear-gradient(var(--direction), #000 25%, transparent);
  mask-image: linear-gradient(var(--direction), #000 25%, transparent);
  opacity: 0.95;
}
.codeblock [craft-codeblock-lines] > span:nth-of-type(2) {
  --direction: to left;
  left: unset;
  right: 0;
}
.codeblock [craft-codeblock-lines] div {
  min-height: var(--line-height);
}
.codeblock [craft-codeblock-lines] div[data-highlight='true'],
.codeblock [craft-codeblock-lines] div[data-highlight='true']:before {
  background: var(--mono3);
}
.button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: var(--radius);
  background: var(--bg);
  border: 1px solid var(--mono6);
  font-family: var(--font-sans);
  color: var(--mono12);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  height: 40px;
  padding: 0 12px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  outline: none;
  --offset: 2px;
  --color: var(--mono7);
  --width: 2px;
}
.button[data-ring='outline'] {
  transition: var(--transition-fast);
  transition-property: outline-offset;
  outline-offset: 0;
}
.button[data-ring='outline']:focus {
  outline: var(--width) solid var(--color);
  outline-offset: var(--offset);
}
@media (hover: hover) {
  .button[data-ring='outline']:hover {
    outline: var(--width) solid var(--color);
    outline-offset: var(--offset);
  }
}
.button[data-ring='box-shadow'] {
  transition: var(--transition-fast);
  transition-property: box-shadow;
}
.button[data-ring='box-shadow']:focus {
  box-shadow: 0 0 0 var(--offset) var(--bg),
    0 0 0 calc(var(--offset) + var(--width)) var(--color);
}
@media (hover: hover) {
  .button[data-ring='box-shadow']:hover {
    box-shadow: 0 0 0 var(--offset) var(--bg),
      0 0 0 calc(var(--offset) + var(--width)) var(--color);
  }
}
.button[data-ring='pseudo']:focus:after {
  opacity: 1;
  transform: none;
}
@media (hover: hover) {
  .button[data-ring='pseudo']:hover:after {
    opacity: 1;
    transform: none;
  }
}
.button[data-ring='pseudo']:after {
  content: '';
  opacity: 0;
  transform: scale(0.9);
  transform-origin: center center;
  transition: var(--transition-fast);
  transition-property: opacity, transform;
  box-sizing: content-box;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  border: var(--width) solid var(--color);
  border-radius: calc(var(--radius) + 4px);
  padding: calc(var(--offset) + var(--width));
}
