---
---

<footer>
  <h2 class="hidden">Footer</h2>
  <p class="outfit">
    Built with <a href="https://astro.build/" target="_blank" class="text-blue">Astro</a> & ☕️
  </p>
  <p>© 2023- Tristan Thoraval</p> 
</footer>