---
---

<footer>
  <div>
    <h2 class="sr-only">Footer</h2>
    <p>Built with <a href="https://astro.build/" target="_blank">Astro</a> & ☕️ </p>
    <p>© Tristan Thoraval - 2023</p> 
  </div>
</footer>