---
import Navigation from "./Navigation.astro";
import MobileNavigation from "./MobileNavigation.astro";

const navigationItems = [
	{ name: "About", url: "/" },
	{ name: "Blog", url: "/blog/" },
];

export interface Props {
	pageTitle?: string;
}

const { pageTitle } = Astro.props;
---

<header>
	<div>
			{pageTitle && <h1 class="sr-only">{pageTitle}</h1>}
			<a href="/" title="Back to Home" class="title">Tristan Thoraval</a>
			<Navigation items={navigationItems}/>
	</div>
</header>