---
interface Props {
	items: {
		name: string;
		url: string;
	}[];
}

const { items } = Astro.props;
---

<nav>
  <h2 class="sr-only">Main navigation</h2>
  <ul role='list'>
    {
      items.map((item) => (
        <li>
          <a href={item.url} title={`Go to ${item.name}`}> {item.name}</a>
        </li>
      ))
    }
  </ul>
</nav>