---
import Layout from "@layouts/Default.astro";
import ErrorPage  from "@components/errors/404.astro";
---

<Layout
	title="Error 404"
	pageTitle="Error 404"
	description=""
>
	<main>
		<ErrorPage />
	</main>
</Layout>