---
import Layout from "@layouts/Default.astro";
---

<Layout
	title="About me"
	pageTitle="About Tristan Thoraval"
	description=""
>
	<main class="p-6 lg:grid lg:grid-cols-3 flex justify-center">
		<h2>About me</h2>
	</main>
</Layout>