---
import Layout from "@layouts/Default.astro";
import BlogList from "@components/blog/BlogList.astro";

import { getCollection } from "astro:content";

const posts = await getCollection("blog").then((collection) => {
	return collection
		.sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
		.slice(0, 2);
});
---

<Layout
	title="Home"
	pageTitle="Tristan Thoraval"
	description=""
>
	<main id="main" class="main-grid">
		<div class="flow">
				<p><em>Crafting interfaces</em>. Building polished software and web experiences. Experimenting with magical details in user interfaces. </p>

				<section class="flow">
					<h2>Now</h2>
					<p>Developing skills through doing, guiltlessly exploring passion and interests, imbuing quality. Mindful that I’ve only scratched the surface of what the web offers.</p>
					<p>Today, I'm mainly focussed on Full-Stack development with a love for front-end and JavaScript.</p>
					<p>Outside of programming, I enjoy photography, video games and bouldering.</p>
				</section>

				<section class="flow">
					<div class="flex space-between">
						<h2>Latest posts</h2>
						<a href="/blog/">Go to blog &rarr;</a>
					</div>
					<BlogList posts={posts} />
				</section>

				<section>
					<h2>Get in touch</h2>
					<p>E-mail me at <a href="mailto:thoravaltristan@gmail.com" class="email"></a>.</p>
				</section>
		</div>
	</main>
</Layout>
