---
import Time from "../general/Time.astro";
import type { CollectionEntry } from "astro:content";

export interface Props {
	post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<article class="card">
	<div class="flex space-between">
		<div>
			<Time date={post.data.pubDate} />
			<h3 class="basic_text">{post.data.title}</h3>
		</div>
		<a href={`/blog/${post.slug}/`}>Read post &rarr;</a>
	</div>
</article>