---
import Time from "../general/Time.astro";
import { collectionEntry } from "astro:content";

export interface Props {
	content: collectionEntry<"blog">;
}

const { content } = Astro.props;
const date = new Date(content.pubDate)
---

<article>
    <header>
        <Time date={content.pubDate} />
        <h1>{content.title}</h1>
    </header>
    <main class="flow">
	    <slot />
    </main>
</article>