---
import { collectionEntry } from "astro:content";

export interface Props {
	content: collectionEntry<"blog">;
}

const { content } = Astro.props;
---

<article>
	<h2>{content.title}</h2>
	<date>{content.pubDate}</p>
	<slot />
</article>