---
import BlogSideBar from "@components/blog/BlogSideBar.astro";

export interface Props {
	headings: object[];
}

const { headings } = Astro.props;
---

<BlogSideBar>
		{ headings.length > 0 && (
			<nav>
				<h2>Sections</h2>
				<ul role='list'>
					{
						headings.map((heading: object) => (
							<li>
								<a href={`#${heading.slug ?? ""}`} >{heading.text}</a>
							</li>
						))
					}
				</ul>
			</nav>
		)}
</BlogSideBar>