---
---

<aside class="laside">
	<nav basics-sidenote="">
		<a basics-link="" href="/blog">
		<div style="--basics-G: 1; --basics-A: center; --basics-D: var(--ON);" basics-stack="">
			<span basics-text=""><em>&larr;Back to blog</em>
			</span>
		</div>
		</a>
	</nav>
	<slot />
</aside>