---
import { collectionEntry } from "astro:content";

export interface Props {
	content: collectionEntry<"blog">;
}

const { content } = Astro.props;
const date = new Date(content.pubDate)
---

<article class="flow">
	<h2>{content.title}</h2>
	<time datetime={date.toISOString()}>
    {
        date.toLocaleDateString("en-us", {
            year: "numeric",
            month: "long",
            day: "numeric"
        })
    }
</time>
	<slot />
</article>