---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

export interface Props {
	title: string;
	imgSrc: ImageMetadata;
	imgAlt: string;
	description: string;
}

const { title, imgAlt, description, imgSrc } = Astro.props;
---

<article class="card">
	<h3>{title}</h3>
	<p>{description}</p>
	<slot />
</article>